# The .env file is used during development.
SECRET_KEY='example'
DEBUG=True
DATABASE_URL=sqlite:///db.sqlite3
ALLOWED_HOSTS=localhost,127.0.0.1,::1
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000,https://127.0.0.1,https://localhost
USE_HTTPS=True

VALKEY_PORT=7788
VALKEY_HOST=127.0.0.1

# This is mainly useful when developing and you don't want to hit YT with unnecessary requests:
YOUTUBE_META_CACHE_SECONDS=3600
MEDIA_ROOT="/tmp/media"

# Used by the `docker-publish` script to know where to push images:
DOCKER_REGISTRY_IMAGE=forgejo.example.com/owner/poddla

# The password used when the docker entrypoint creates the 'admin' user. If the
# 'admin' user already exists it will not be used. It's done by the command: 
# `manage create_initial_admin`.
INITIAL_ADMIN_PASSWORD=

# With this Granian will work behind the Caddy proxy:
GRANIAN_HOST=127.0.0.1
GRANIAN_PORT=8000
GRANIAN_HTTP=2

