SECRET_KEY='example'
DEBUG=True
DATABASE_URL=sqlite:///db.sqlite3
ALLOWED_HOSTS=localhost,127.0.0.1,::1
VALKEY_PORT=7788
VALKEY_HOST=127.0.0.1

# This is mainly useful when developing and you don't want to hit YT with unnecessary requests:
YOUTUBE_META_CACHE_SECONDS=3600
MEDIA_ROOT="/tmp/media"

# Used by the `docker-publish` script to know where to push images:
DOCKER_REGISTRY_IMAGE=forgejo.example.com/ <owner >/poddla
