# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml


*.pyc

# Environment
.env

node_modules

src/youtube_to_podcast/static/dist/

db.sqlite3
dump.rdb
