# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml


*.pyc

# Coverage
.coverage
htmlcov

# Environment
.env

node_modules

staticfiles

db.sqlite3
dump.rdb
media

# The example docker compose puts files here:
deploy/data
